.btn {
  border: solid #fff;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}
@media (min-width: 900px) {
  .btn {
    margin-top: 1rem;
    padding: 1rem;
  }
}
.btnbox {
  text-align: center;
}
