.box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  min-height: 100px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 27px 20px 5px rgba(0, 0, 0, 0.12);
  font-size: 10px;
  margin-top: -3rem;
}

@media (min-width: 400px) {
  .box {
    width: 400px;
    min-height: 100px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 27px 20px 5px rgba(0, 0, 0, 0.12);
    font-size: 12px;
    margin-top: 3rem;
  }
}

@media (min-width: 600px) {
  .box {
    width: 600px;
    min-height: 100px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 27px 20px 5px rgba(0, 0, 0, 0.12);
  }
}
