@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(163, 165, 250);
  transition: ease-in-out 2s;
}
